.navbar {
  padding: 0;
  width: 100%;
  border-bottom: solid 1px var(--bs-red);
  margin-bottom: 50px;
}

.navbar .container {
  width: 100%;
}

.logo {
  margin-left: 4%;
}

.logo a,
.logo a img {
  display: inline-block;
  width: 170px;
  height: 40px;
}

.header_top {
  position: relative;
  padding-right: 4%;
}

.header_top:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--bs-red);
}

.header_top .navbar-nav .nav-item:first-child:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #a5bb29;
  z-index: 2;
}
.header_top .navbar-nav .nav-item a:first-child {
  margin-right: 0;
}

.header_top .navbar-nav .nav-item a:nth-child(2) {
  margin-left: 10px;
}

.navbar .flexbox {
  width: 100%;
}

.header_bottom {
  padding-right: 5%;
}

.header_bottom .navbar-nav li.nav-item {
  position: relative;
  padding: 15px 0;
}

.header_bottom .nav-link.mobile {
  display: none;
}

.navi.flexbox {
  flex-flow: column;
  align-items: flex-end;
  /* float: right; */
}

.navi ul li,
.navi ul li a {
  margin: 0;
  padding: 0;
}

.navi ul li:before {
  display: none;
}

.navbar-toggler {
  position: relative;
  outline: 0;
  border: none;
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler span {
  position: relative;
}
.navbar-toggler-icon {
  width: 20px;
  height: 20px;
}

.navbar-toggler span:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  /* background: url(https://static.remove.bg/remove-bg-web/bc40b822e064ca145e7bee57e394c7bba2280416/assets/start_remove-c851bdf8d3127a24e2d137a55b1b427378cd17385b01aec6e59d5d4b5f39d2ec.png) */
  /* bottom center no-repeat; */
  background: url("../assets/menu.png");
  background-size: cover;
}

.navi ul li a {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #252932;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.navi ul li a:hover {
  color: var(--bs-red);
}

.navi ul li a:hover .nav_icon svg {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navi ul li a:hover .nav_icon svg path {
  fill: var(--bs-red);
}

.navi ul li a.nav_link {
  display: inline-block;
  padding: 8px 25px;
}

.nav_link.green {
  background: #a5bb29;
}

.nav_icon {
  margin-right: 10px;
}
.mobile_navi.flexbox {
  display: none;
  width: auto;
}

@media (max-width: 991px) {
  .navbar {
    margin: 0;
    padding: 15px 0;
  }
  .navbar .container {
    width: 95%;
  }
  .logo {
    margin-left: 0;
  }
  .logo a,
  .logo a img {
    width: 120px;
    height: 45px;
  }
  .header_bottom {
    display: none;
  }
  .mobile_navi.flexbox {
    display: flex;
  }
}
